body, section #title p {
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    font-family: Helvetica, Arial, sans-serif !important;
}

div#header {
    display: none;
}

div.wrapper section {
    margin-top: 0px;
}

#title .credits.right {
    display: none;
}