/*
 * Page generics
 */

body {
  font-size: 14px;
  overflow-x: hidden;
  padding: 0;
  scrollbar-width: 8px;
}
body.huroutes-light, .huroutes-light #sidebar {
  background: #fff;
  color: #000;
  scrollbar-color: #3b4c5a #d3d3d3;
}
body.huroutes-dark, .huroutes-dark #sidebar {
  background: #13192e;
  color: #fff;
  scrollbar-color: #7092ad #212c38;
}

p {
  margin: 0 0 10px;
}

.huroutes-light a {
  color: #0078A8;
}
.huroutes-dark a {
  color: #8ccbff;
}
.huroutes-dark a:hover {
  color: #eee;
}

/* Webkit advanced scrollbar design. */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.huroutes-light ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #363636;
  -webkit-box-shadow: inset 0 0 6px #363636;
}
.huroutes-light ::-webkit-scrollbar-thumb {
  background-color:#0e2338;
  box-shadow: inset 0 0 8px #ffffff;
  -webkit-box-shadow: inset 0 0 8px #ffffff;
}
.huroutes-dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #6b73af;
  -webkit-box-shadow: inset 0 0 6px #6b73af;
}
.huroutes-dark ::-webkit-scrollbar-thumb {
  background-color:#83a5c0;
  box-shadow: inset 0 0 6px #151a1f;
  -webkit-box-shadow: inset 0 0 6px #151a1f;
}

/*
 * Layout
 */

/* Map panel layout */
#main {
  margin-top: 0;
  padding: 0;
  position: fixed;
  top: 0; right: 0;
  width: 90vw; height: 100%;
}

/* Menu panel layout */
#sidebar {
  display: block;
  left: 0; top: 0;
  padding: 0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 90vw; height: 100%;
  transition: left 0.25s ease;
  z-index: 1032;
}
#sidebar.closed {
  left: -80vw;
  overflow-y: hidden;
}

/* Side-by-side menu styles */
@media (min-width: 768px) {
  #sidebar {
    left: 0;
    transition: none;
  }
  #sidebar.closed {
    left: 0;
    overflow-y: auto;
  }
}

/* Void panel styles for portrait design */
.panel-void {
  background: #0000007c;
  display: none;
  position: fixed;
}
#void-close-sidebar {
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 1031;
}
#void-close-sidebar.show {
  display: block;
}
#void-open-sidebar {
  left: 0; top: 0;
  width: 100%; height: 9999%; /* % is without parent's overflow :( */
  position: absolute;
  z-index: 1033;
}
#void-open-sidebar.show {
  display: block;
}

/* Void panels are fully hidden in side-by-side view */
@media (min-width: 768px) {
  #void-close-sidebar, #void-close-sidebar.show,
  #void-open-sidebar, #void-open-sidebar.show {
    display: none;
  }
}

/*
 * Sidebar
 */

/* Contains the title, subtitle and options buttons */
.sidebar-header {
  padding: 10px;
  padding-top: 25px;
}

/* The title is a "hidden" link to github */
.title {
  font-weight: normal;
  text-align: center;
}
.huroutes-light .sidebar .title a {
  color: #000;
}
.huroutes-dark .sidebar .title a {
  color: #fff;
}

.sub-title {
  font-weight: bold;
  text-align: center;
}

.options-button {
  font-size: 24px;
  position: absolute;
  top: 10px; right: 16px;
}
.huroutes-light .options-button {
  filter: drop-shadow(2px 2px 1px #000a);
}
.huroutes-dark .options-button {
  filter: drop-shadow(3px 3px 2px #000);
}

/* The contribution box is at the bottom of the menu bar */
.contrib {
  font-size: 0.8em;
  padding: 10px;
  text-align: right;
}

/* Section separators in the sidebar are added to the menu content */
.huroutes-light .menubox {
  border: 1px solid #2c2c2c;
  border-left: none;
  border-right: none;
}
.huroutes-dark .menubox {
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
}

/* Menu look & feel */
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

ul.menu {
  margin-block-end: 0;
  margin-block-start: 0;
}
ul a.dropdown-toggle {
  display: block;
  font-size: 1.1em;
  overflow: hidden;
  padding: 10px;
}
ul ul a.dropdown-toggle {
  padding-left: 20px !important;
}
ul ul ul a.dropdown-toggle {
  padding-left: 40px !important;
}
ul ul ul ul a.dropdown-toggle {
  padding-left: 60px !important;
}
ul ul ul ul ul a.dropdown-toggle {
  padding-left: 80px !important;
}
ul a.dropdown-toggle:hover {
  text-decoration: none;
}
.huroutes-light ul a.dropdown-toggle {
  color: #2c2c2c;
}
.huroutes-light ul a.dropdown-toggle:hover {
  background: #c6ceeb;
  color: #383966;
}
.huroutes-dark ul a.dropdown-toggle {
  color: #fff;
}
.huroutes-dark ul a.dropdown-toggle:hover {
  background: #1b2342;
  color: #bbbfcf;
}

/* A route's description panel */
.sidebar .panel {
  border-radius: 8px;
  margin: 10px 0 10px 0;
  padding: 10px;
  text-align: justify;
}
.huroutes-light .sidebar .panel {
  background: #eaf4ff;
}
.huroutes-dark .sidebar .panel {
  background: #1e3450;
}

/* Header containing the route's date and rating */
.route-header {
  font-size: 1.1em;
  padding: 0 3px 0 3px;
}
.route-header::after {
  clear: both;
  content: "";
  display: table;
}

.update-date {
  float: left;
}

.stars-outer {
  float: right;
  position: relative;
}
.stars-inner {
  color: #f8ce0b;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  white-space: nowrap;
}

/* Route controls toolbar */

.route-ctrls .btn {
  font-size: 1.3rem;
}

.huroutes-light .route-ctrls .btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: .3rem .6rem;
}
.huroutes-light .route-ctrls a.btn:hover,
.huroutes-light .route-ctrls a.btn:focus {
  background-color: #0062ca;
  border-color: #0058b6;
}
.huroutes-light .route-ctrls a.btn:active {
  background-color: #0051a8;
  border-color: #003e80;
}
.huroutes-light .route-ctrls span.btn {
  padding-left: 0;
  padding-right: 0;
}
.huroutes-dark .route-ctrls .btn {
  background-color: #3363a1;
  border-color: #3363a1;
  color: #fff;
  padding: .3rem .6rem;
}
.huroutes-dark .route-ctrls a.btn:hover,
.huroutes-dark .route-ctrls a.btn:focus {
  background-color: #2e578d;
  border-color: #2a5081;
}
.huroutes-dark .route-ctrls a.btn:active {
  background-color: #264670;
  border-color: #182e4b;
}
.huroutes-dark .route-ctrls span.btn {
  padding-left: 0;
  padding-right: 0;
}

/*
 * Map view
 */

 /* noop currently */
.map {
  width: 100%; height: 100%;
}

/* Overrides Bootstrap link decoration for leaflet controls. */
.leaflet-bar a:hover {
  text-decoration: none;
}

/* Googleesque scale control positioning compared to the zoom controls */
.leaflet-bottom.leaflet-right .leaflet-control-scale {
  bottom: 22px;
  position: absolute;
  right: 44px;
}

/*
 * Map view / Controls themes
 */

/* Dark-theme borders for leaflet buttons */
.maps-dark .leaflet-touch .leaflet-control-layers, .maps-dark .leaflet-touch .leaflet-bar {
	border: 2px solid #9c9c9c33;
}
/* Overrides the default blue link colour for controls */
.maps-light .leaflet-bar a {
  color: #000;
}
/* Overrides the default light leaflet theme for controls */
.maps-dark .leaflet-bar a, .maps-dark .leaflet-control-layers {
  background-color: #13192e;
  color: #fff;
}
/* Overrides the default light leaflet theme for popup bubbles */
.maps-dark .leaflet-popup-content-wrapper, .maps-dark .leaflet-popup-tip {
  background-color: #13192e;
  color: #fff;
  box-shadow: 0 3px 14px #000b;
}
/* Overrides the default light leaflet theme for control backgrounds upon hovering */
.maps-dark .leaflet-bar a:hover {
  background-color: #1e2644;
}
/* Overrides the default light leaflet theme for the attribution control */
.maps-dark .leaflet-container .leaflet-control-attribution {
  background-color: #13192eaf;
  color: #fff;
}
.maps-dark .leaflet-control-scale-line {
  background-color: #13192e80;
  border: 2px solid #9c9c9c;
  border-top: none;
  color: #ccc;
}
/* Inverts the default black location control icons in dark mode */
.maps-dark .leaflet-control-locate:not([class~=active]) .leaflet-control-locate-location-arrow,
.maps-dark .leaflet-control-locate-spinner {
  filter: invert(1);
}

/*
 * Map view / map themes
 */

/* Makes the sattelite view's roads translucent */
.overlay-satteliteroads {
  filter: opacity(0.6);
  -webkit-filter: opacity(0.6);
}

/* A dark filter set for "normal" map styles */
.maps-dark .tile-openstreetmap, .maps-dark .tile-googlemap, .maps-dark .tile-googleterrain {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  -webkit-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
/* A dark filter set for OpenTopoMap */
.maps-dark .tile-opentopomap {
  filter: brightness(0.65) invert(0.8) contrast(2.5) hue-rotate(200deg) saturate(0.6) brightness(0.8);
  -webkit-filter: brightness(0.65) invert(0.8) contrast(2.5) hue-rotate(200deg) saturate(0.6) brightness(0.8);
}
/* A slight darkening for sattelite maps in dark mode */
.maps-dark .tile-sattelite, .maps-dark .tile-googlesattelite, .maps-dark .overlay-turistautak {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
/* Colour inversion for the DEM in dark mode */
.maps-dark .overlay-dem {
  filter: invert(1);
  -webkit-filter: invert(1);
}

/*
 * Toasts
*/

/* Toast minimum width for optimum width-height ratio */
.toast {
  min-width: 350px;
}