/*
 * Page layout
 */

body {
  background: #13192e;
  font-size: 14px;
  overflow-x: hidden;
  padding: 0;
}

p {
  margin: 0 0 10px;
}

/*
 * Sidebar
 */

 #sidebar {
  background: #13192e;
  color: #fff;
  padding: 0;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  body {
    overflow-y: hidden;
  }

  #sidebar {
    bottom: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
  }
}

.sidebar-header {
  border-bottom: 1px solid #eee;
  padding: 10px;
  padding-top: 25px;
}

.title {
  font-weight: normal;
  text-align: center;
}

.title a {
  color: #fff;
}

.sub-title {
  font-weight: bold;
  text-align: center;
}

.contrib {
  border-top: 1px solid #eee;
  color: #999;
  font-size: 0.8em;
  padding: 10px;
  text-align: right;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

ul.menu {
  margin-block-end: 0;
  margin-block-start: 0;
}

ul a.dropdown-toggle {
  color: #ccc;
  display: block;
  font-size: 1.1em;
  overflow: hidden;
  padding: 10px;
}
ul a.dropdown-toggle:hover {
  background: #1b2342;
  color: #919fd8;
}

ul ul a.dropdown-toggle {
  padding-left: 20px !important;
}

ul ul ul a.dropdown-toggle {
  padding-left: 40px !important;
}

ul ul ul ul a.dropdown-toggle {
  padding-left: 60px !important;
}

ul ul ul ul ul a.dropdown-toggle {
  padding-left: 80px !important;
}

.sidebar .panel {
  background: #1e3450 !important;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  padding: 10px;
  text-align: justify;
}

.route-header {
  font-size: 1.1em;
  padding: 0 3px 0 3px;
}

.route-header::after {
  clear: both;
  content: "";
  display: table;
}

.update-date {
  float: left;
}

.stars-outer {
  float: right;
  position: relative;
}

.stars-inner {
  color: #f8ce0b;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  white-space: nowrap;
}

/*
 * Map view
 */

#main {
  height: 50vh;
  margin-top: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #main {
    height: 100vh;
  }
}

.map {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-left: 1px solid #aaa;
  padding: 0;
}

.leaflet-bottom.leaflet-right .leaflet-control-scale {
  bottom: 22px;
  position: absolute;
  right: 44px;

/*
 * Dialog
 */

.modal-content {
  background: #13192e;
  color: #fff;
}
